<%#  Home page with a picture, description and menu %>

<%- include("partials/header.ejs") %> 

<div class="container-grid">
<h1>Web Dev Journals</h1>
<p>A photographer learns web development and keeps it together</p>
</div>

<%- include("partials/footer.ejs") %> 