<%# Page to view all blogs (with clickable links to individual blogs) %>

<%- include("partials/header.ejs") %> <!-- Include header and navbar -->

<!-- List of blog posts -->
<h1>All Blog Posts</h1>
<ul>
    <!-- Loop through blog posts and display them as links -->
    <li><a href="#">Blog Post 1</a></li>
    <li><a href="#">Blog Post 2</a></li>
</ul>

<%- include("partials/footer.ejs") %> <!-- Include footer -->